version: "2"

services:
  qix-engine:
    container_name: qix-engine
    image: qlikcore/engine:12.368.0
    restart: always
    command: -S AcceptEULA=${ACCEPT_EULA} -S ScriptLogVerbosity=4
    ports:
      - "9076:9076"
    volumes:
      - ./data:/data
  node-test-runner:
    container_name: node-test-runner
    image: node:8.16.0
    volumes:
      - ./:/core-data-loading
    command: "sh -c 'while :; do ping -c 1 google.com; sleep 60; done'"
